.box1{
    border: 2px solid black;
    height: 50px;
    width: 23%;
    padding: 5px;
    
    margin-left: 25px;
    background: red;

}
.box2{
    background: yellow;
    height: 80px;
    width: 23%;
    padding: 5px;
    border: 2px solid black;
    margin-left: 25px;
}
.box3{
    background: red;
    height: 50px;
    width: 23%;
    padding: 5px;
    border: 2px solid black;
    margin-left: 25px;
    margin-bottom: 5px;
    
}
.container1 {
    background: white;
    border: 2px solid black;
    height: 137px;
    width: 23%;
    margin-left: 25px;
}
.box4{
    background: red;
    height: 50px;
    width: 13.2%;
    padding: 5px;
    border: 2px solid black;
    margin-left: 25px;
    
    
}
.box5{
    background: red;
    height: 50px;
    width: 30%;
    padding: 5px;
    border: 2px solid black;
    margin-left: 0px;
    
}
.box6{
    background: red;
    height: 50px;
    width: 13.2%;
    padding: 5px;
    border: 2px solid black;
    margin-left: 25px;
    margin-top: 10px;
}
.box7{
    background: red;
    height: 50px;
    width: 30%;
    padding: 5px;
    border: 2px solid black;
    margin-left: 0px;
    margin-top: 10px;
}
.mover{
    left: 150px;
}
.position-absolute{
    position: absolute;
}
.position-absolute1{
    position: relative;
}
.container2 {
    background: white;
    border: 2px solid black;
    height: 137px;
    width: 23%;
    margin-left: 25px;
    margin-top: 10px;
}   
.box8{
    background: red;
    height: 50px;
    width: 15%;
    padding: 15px;
    border: 2px solid black;
    margin-left: -10px;
    margin-top: 25px;
    border-radius: 100px;
}
.position-1absolute{
    position: relative;
}
.box9{
    background: green;
    height: 60px;
    width: 247px;
    padding: 5px;
    border: 2px solid black;
    margin-left: -50px;
    margin-top: 0px;
    
}
.box10{
    background: red;
    height: 195px;
    width: 100px;
    padding: 2px;
    border: 2px solid black;
    margin-left: 0px;
    float: left;
    
}
.box11{
    background: rgb(27, 14, 14);
    height: 60px;
    width: 241px;
    padding: 5px;
    border: 2px solid black;
    margin-left: -45px;
    margin-top: 53px;
    
}

.container3 {
    background: white;
    border: 2px solid black;
    height: 200px;
    width: 23%;
    margin-left: 25px;
    margin-top: 10px;
}  
.position-2absolute{
    position: relative;
} 
.position-3absolute{
    position: absolute;
    display: ;
} 

.mover1{
    left: 33px;
    top: 538px;
}